.wrapper {
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 24px 16px 16px 16px;
    min-width: 140px;
    margin-bottom: 20px; 
    cursor: pointer;
    color: #192f50;
    min-height: 220px;
    display: flex;
    flex-direction: column;

    &:hover {
        background-color: #f0f2f5;
    }
  }

  .header{}

  .content {
    flex: 1;
  }

  .code{
    font-weight: 500;
    margin-top: 10px;
    font-size: 18px;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    color: #2a3f54; 
    margin-bottom: 8px; 
  }

  .line{
    border: 2px solid #192f50;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .topping {
    font-size: 14px;
    color: #7d7d7d; 
    margin-top: 10px;
  }
  
  .topping-title {
    font-weight: bold;
    color: #2a3f54;
  }
  
  .topping-list {
    margin-top: 4px;
    color: #192f50;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px; 
    position: relative;
  }
  
  .trending {
    background-color: #192f50; 
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    transform: translateX(-16px);
  }
  
  .price {
    font-size: 18px;
    font-weight: bold;
    color: #2a3f54; 
    position: absolute;
    right: 0;
    bottom: 0;
  }
  